<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>10 April 2021</p><h1>

In [2]:
first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1,2):"clrswy"}
first_dict

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'clrswy'}

In [3]:
second_dict = {[1,2] : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1,2):"clrswy"}
second_dict

TypeError: unhashable type: 'list'

In [4]:
second_dict = {{1:"bir"} : "one", "two" : 2}
second_dict

TypeError: unhashable type: 'dict'

In [6]:
xx = dict(bir = "one", iki = "two")
xx

{'bir': 'one', 'iki': 'two'}

In [7]:
bir = "one"
bir

'one'

In [12]:
sehir = "istanbul"
sehir1 = "ankara"
nüfus = 1000

In [13]:
sehirler = {1 : sehir, 2 : sehir1, "nüfusum" : nüfus}
sehirler

{1: 'istanbul', 2: 'ankara', 'nüfusum': 1000}

In [10]:
sehirler[2]

'ankara'

In [11]:
type(sehirler[2])

str

In [14]:
sehirler['nüfusum']

1000

In [15]:
type(sehirler['nüfusum'])

int

In [16]:
state_capitals = {'Arkansas': 'Little Rock',
'Colorado': 'Denver',
'California': 'Sacramento',
'Georgia': 'Atlanta'}
state_capitals['Virginia'] = 'Richmond' # adding a new item
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [17]:
state_capitals["California"] = "İstanbul"
state_capitals

{'Arkansas': 'Little Rock',
 'Colorado': 'Denver',
 'California': 'İstanbul',
 'Georgia': 'Atlanta',
 'Virginia': 'Richmond'}

In [18]:
family = dict(name1 = "Joseph", name2 = "Bella", name3 = "Aisha", name4 = "Tom")
family

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Tom'}

In [19]:
family.update({"a" : 1, "b" : 2})
family

{'name1': 'Joseph',
 'name2': 'Bella',
 'name3': 'Aisha',
 'name4': 'Tom',
 'a': 1,
 'b': 2}

In [20]:
family.update({"name1" : 33, "c" : 3})
family

{'name1': 33,
 'name2': 'Bella',
 'name3': 'Aisha',
 'name4': 'Tom',
 'a': 1,
 'b': 2,
 'c': 3}

In [24]:
family = {'name1': 'Joseph', 
          'name2': 'Bella',
          'name3': 'Aisha',
          'name4': 'Tom'
         }

In [25]:
"name1" in family

True

In [26]:
"name5" in family

False

In [27]:
"name5" not in family

True

In [22]:
family

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Tom'}

In [23]:
del family["name2"], family["name3"]
family

{'name1': 'Joseph', 'name4': 'Tom'}

In [28]:
"bir" in ["bir", 1, "clarusway", False]

True

In [33]:
"bella" in family.values()

False

In [34]:
"Bella" in family.values()

True

In [35]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },
        },
}

In [36]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elementary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [37]:
school_records["personal_info"]["teen"]

{'joseph': {'class': 'college', 'age': 19},
 'marry': {'class': 'high school', 'age': 16}}

In [38]:
school_records["personal_info"]["teen"]["marry"]

{'class': 'high school', 'age': 16}

In [39]:
school_records["personal_info"]["teen"]["marry"]["age"]

16

In [40]:
school_records["grades_info"]["teen"]["joseph"]

{'coding': 80, 'math': 89}

In [42]:
list(school_records["grades_info"]["teen"]["joseph"].items())

[('coding', 80), ('math', 89)]

In [43]:
friends = {
    "friend1" : {"first" : "Sue", "last" : "Bold"},
    "friend2" : {"first" : "Steve", "last" : "Smith"},
    "friend3" : {"first" : "Sergio", "last" : "Tatoo"}
}

In [44]:
friends

{'friend1': {'first': 'Sue', 'last': 'Bold'},
 'friend2': {'first': 'Steve', 'last': 'Smith'},
 'friend3': {'first': 'Sergio', 'last': 'Tatoo'}}

In [3]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()

In [47]:
print(letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']

In [4]:
print(set(letter))

{'a', 'f', 'v', 'g', 't', 'm', 'u', 'p', 'z', 'j', 'r', 'n', 'b', 'c', 'h', 'e', 'y', 'l', 'k', 'd', 'i', 's', 'o'}

In [1]:
letter1 = "m n o g h i j k l p r s a b c d e f t u v y z".split()

In [51]:
print(letter1)

['m', 'n', 'o', 'g', 'h', 'i', 'j', 'k', 'l', 'p', 'r', 's', 'a', 'b', 'c', 'd', 'e', 'f', 't', 'u', 'v', 'y', 'z']

In [2]:
print(set(letter1))

{'a', 'f', 'v', 'g', 't', 'm', 'u', 'p', 'z', 'j', 'r', 'n', 'b', 'c', 'h', 'e', 'y', 'l', 'k', 'd', 'i', 's', 'o'}

In [7]:
test = {1, "bir", 1.0}
test

{1, 'bir'}

In [6]:
len(test)

2

In [8]:
1 == 1.0

True

In [9]:
a = {'carnation', 'orchid', 'rose', 'violet'} 
 
b = {'rose', 'orchid', 'rose', 'violet', 'carnation'}

a == b

True

In [10]:
a

{'carnation', 'orchid', 'rose', 'violet'}

In [11]:
b

{'carnation', 'orchid', 'rose', 'violet'}

In [12]:
len(a) == len(b)

True